@import "../../../css-config/mixins.scss";

.shop__by__category {
  margin: 50px 0;

  @include md {
    margin: 25px 0;
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px;

  @include sm {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

.category {
  overflow: hidden;
  cursor: pointer;

  &:hover {
    img {
      transform: scale(1.2);
    }
  }

  img {
    transition: all 0.3s ease;
  }
}